.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: center;
  list-style-type: none;
  overflow: hidden;
}

  
  .card__image {
    width: 282px;
    height: 282px;
    object-fit: cover;
  }
  
  .card__description {
    display: flex;
    background-color: white;
    color: black;
    padding: 25px 20px 20px 25px;
    align-items: center;
    justify-content: space-between;
  }


  
  .card__title {
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
    margin: 0;
  }
  
  .card__like-button {
    background-image: url(../images/HEART.svg);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border-color: transparent;
    min-width: 21px;
    height: 18px;
  }
  
  .card__like-button:hover {
    opacity: 50%;
  }

  

  
  