.header {
  border-bottom: 1px solid rgb(84 84 84 / 0.7);
  margin-top: 45px;
  margin-bottom: 40px;
}

.header__image {
  max-width: 173px;
  max-height: 33px;
  margin-bottom: 40px;
}

@media screen and (max-width: 400px) {
  .header {
    margin-top: 20px;
    width: 100%;
    padding-left: 5px;
  }

  .header__image {
    margin-left: 20px;
    margin-bottom: 30px;
    width: 124px;
    height: 20px;
  }
}
